<header class="d-flex flex-wrap p-1 bg-light">
    <a class="navbar-brand" href="/" style="margin-left: 20px;"><span style="color: black;"><b>CD</b></span></a>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
            <li><a href="/" class="nav-link px-2 text-dark">Home</a></li>
            <li><a href="/resume" class="nav-link px-2 text-dark">Resume</a></li>
            <li><a href="/projects" class="nav-link px-2 text-dark">Projects</a></li>
            <li><a href="/blog" class="nav-link px-2 text-dark">Blog</a></li>
        </ul>
    </div>
</header>