<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <%- include ('./../partials/navbar.ejs') %>


        <h1>Posts</h1>
        <hr>

        <div class="flex-container">

            <div class="flex-item">
                <div class="background-black">
                    <a href="/popcount">
                        <img src="/thumbnails/popcount.png" width="300px" height="320px">
                    </a>
                </div>
                <div style="display: flex; flex-flow: column; align-items: center; justify-content: center;">
                    <a href="/popcount"><h4>Popcount Algorithm</h4></a>
                    <p>Count 1's in a binary string.</p>
                </div>
            </div>

            <div class="flex-item">
                <div class="background-black">
                    <a href="/graphics">
                        <img src="/thumbnails/graphics.png" width="300px" height="320px">
                    </a>
                </div>
                <div style="display: flex; flex-flow: column; align-items: center; justify-content: center;">
                    <a href="/graphics"><h4>Graphics Engine</h4></a>
                    <p>A from-scratch primitive graphics engine in C++.</p>
                </div>
            </div>

            <div class="flex-item">
                <div class="background-black">
                    <a href="/openclgentoo">
                        <img src="/thumbnails/openclgentoo.png" width="300px" height="320px" />
                    </a>
                </div>
                <div style="display: flex; flex-flow: column; align-items: center; justify-content: center;">
                    <a href="/openclgentoo"><h4>OpenCL Development on Gentoo</h4></a>
                    <p>A guide to get compiling and linking with OpenCL on the Gentoo distribution.</p>
                </div>
            </div>

            <div class="flex-item">
                <div class="background-black">
                    <a href="/openclgentoo">
                        <img src="/thumbnails/openclgentoo.png" width="300px" height="320px" />
                    </a>
                </div>
                <div style="display: flex; flex-flow: column; align-items: center; justify-content: center;">
                    <a href="/openclgentoo"><h4>OpenCL Development on Gentoo</h4></a>
                    <p>A guide to get compiling and linking with OpenCL on the Gentoo distribution.</p>
                </div>
            </div>

        </ul>
        </div>

    </body>
</html>
