<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <%- include ('./../partials/navbar.ejs') %>


        <h1>Posts</h1>
        <hr>

        <div class="flex-container">

            <div class="flex-item" style="border: 1px solid;">
                <a href="/popcount"><img src="/thumbnails/popcount.png" width="300px" height="320px"></a>
                <center>
                    <a href="/popcount"><h4>Popcount Algorithm</h4></a>
                    <p>Count 1's in a binary string.</p>
                </center>
            </div>

            <div class="flex-item" style="border: 1px solid;">
                <a href="/graphics"><img src="/thumbnails/graphics.png" width="300px" height="320px"></a>
                <center>
                    <a href="/graphics"><h4>Graphics Engine</h4></a>
                    <p>A from-scratch primitive graphics engine in C++.</p>
                </center>
            </div>

            <div class="flex-item" style="border: 1px solid;">
                <a href="/openclgentoo"><img src="/thumbnails/openclgentoo.png" width="300px" height="320px"></a>
                <center>
                    <a href="/openclgentoo"><h4>OpenCL Development on Gentoo</h4></a>
                    <p>A guide to get compiling and linking with OpenCL on the Gentoo distribution.</p>
                </center>
            </div>

        </ul>
        </div>

    </body>
</html>
