<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <%- include ('./../partials/navbar.ejs') %>

        <div class="container">
            <h1>
                Home
            </h1>

            <hr>

            <h2>
                cmd's Technical Blog
            </h2>

            <p>
                Please visit the superdomain of this website to view my professional website.
            </p>

            <p>
                This site was built by hand with just HTML and CSS. No javascript required.
            </p>
        </div>

    </body>
</html>
