/* Add a black background color to the top navigation */
.topnav {
  background-color: #131313;
  overflow: hidden;
  height: 5vh;
}

.container {
  width: 75%;
  margin: auto;
}

@media all and (max-width: 900px) {
  .container {
    width: 100%;
  }
}

/* Style the links inside the navigation bar */
.topnav-a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1.6vh 1.6vh;
  text-decoration: none;
  font-size: 1.8vh;
  height: 100%;
}

/* Change the color of links on hover */
.topnav-a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav-a.active {
  background-color: #0d5865;
  color: white;
}

.logo {
  height: calc(5vh - 20px);
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 15px;
}

.flex-item {
  flex-grow: 0;     /* do not grow   - initial value: 0 */
  flex-shrink: 0;
  border: 2px solid;
  border-radius: 1px;
  width: 30rem;
  font-size: 2vh;
}

.flex-item div {
  width: 100%;
  height: fit-content;
  background-color: rgb(10, 10, 10);
  justify-content: center;
}

.flex-item img {
  margin: auto;
  display: block;
}

p {
  overflow-wrap: break-word;
}
