<footer class="bg-dark text-center text-white" style="position: fixed; bottom: 0; width: 100%;">
    <div class="container">
        <section class="mb">
            <a class="btn btn-floating m-1" href="https://www.linkedin.com/in/cameron-davis-12134a182/" role="button">
                <img src="/linkedin-logo.png" width=40 height=40>
            </a>
  
            <a class="btn btn-floating m-1" href="https://github.com/citren0" role="button">
                <img src="/github-logo.png" width="40" height=40>
            </a>

            <a class="btn btn-floating m-1" href="mailto:cameron.davis1944@gmail.com" role="button">
                <img src="/email.png" width="40" height=40>
            </a>
        </section>
    </div>
</footer>